@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

body {
    background-color: hsl(185, 41%, 84%);
    color: hsl(183, 100%, 15%);
}

.container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50%;
    width: 800px;
    height: 400px;
    border-radius: 5%;
    background-color: hsl(0, 0%, 100%);
    margin-top: -200px;
    margin-bottom: -200px;
}

.intro {
    display: inline-block;
    justify-content: center;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 80%;
    margin-bottom: 2rem;
    letter-spacing: 6px;
}

.calculator-container {
    position: relative;
    margin: auto;
    width: 100%;
    height: 90%;
}

.bill, .calculations {
    position: absolute;
    width: 45%;
    height: 100%;
    border-radius: 3px;
    text-align: center;
    margin: 0 auto;
}

.bill {
    left: 25px;
    top: 20px;
    border-radius: 5%;
   
}

.calculations {
    left: 410px;
    top: 20px;
    border-radius: 5%;
    background-color: hsl(183, 100%, 15%);
}

.raw-bill {
    font-size: 20px;
    text-align: left;
    margin: 20px 15px;
    padding-bottom: 10px;
}

.raw-bill p {
    line-height: 33px;
}

input.bills {
    height: 30px;
    width: 100%;
}

.tip {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1px 15px; 
}

.tip-title {
    text-align: start;
    font-size: 20px;
    padding-bottom: 12px;
}

.tip-amount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 400px;
    align-self: center;
}

.tip-amount button {
    background-color: rgb(229, 241, 115);
    height: 40px;
    width: 96px;
    display: inline-block;
    margin: 5px 10px;
    font-size: 1.3rem;
    border-radius: 10%;
    color: #fff;
    background-color: hsl(183, 100%, 15%);
}

#selected {
    background-color: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
    font-weight: 600;
    border-style: none;
}

.people {
    display: flex;
    flex-direction: column;
    /* width: 200px; */
    margin-top: 20px;
    text-align: left;
    line-height: 35px;
    margin-left: 15px;
    margin-right: 15px;
}

input.numPeople {
    height: 30px;
    width: 100%;
}

.final-cal {
    position: relative;
}

.amount {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    margin-top: 50px;
    text-align: left;
    color: hsl(185, 41%, 84%);
}

.total {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    margin-top: 50px;
    text-align: left;
    color: hsl(185, 41%, 84%)
}

.calculations p {
    text-align: left;
    width: 50%;
    color: hsl(189, 41%, 97%);
}

.calculations a {
    color: hsl(184, 14%, 56%);
}

.calculations span {
    color: hsl(172, 67%, 45%);
    font-size: 2.5rem;
}

.reset {
    display: flex;
    justify-content: center;
    width: 100%;
}

.reset button {
    height: 50px;
    width: 80%;
    border-radius: 5%;
    margin-top: 4.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: hsl(186, 14%, 43%);
    font-weight: 700;
    background-color: #25c2ad;
    opacity: .5;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2%; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 

}